---
name: Release

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GHA }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install Node.js dependencies
        run: |
          npm init -y
          npm install --save-dev semantic-release@latest @semantic-release/changelog@latest @semantic-release/exec@latest @semantic-release/git@latest

      - name: Install Python dependencies for pre-commit
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GHA }}
        run: npx semantic-release
